# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# TypeScript cache
*.tsbuildinfo

# Optional npm/eslint caches
.npm
.eslintcache
.stylelintcache

# dotenv
.env
.env.*
!.env.example

# caches
.cache
.parcel-cache
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# output
.next
out
.nuxt
.output
.serverless/
.firebase/
.docusaurus
.svelte-kit/
.vuepress/dist
**/.vitepress/dist
**/.vitepress/cache

# OS / IDE
.DS_Store
.idea/
.vscode-test

# pnpm
.pnpm-store

# local scratch
.scratch/

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
